<!DOCTYPE html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
      {% unless page.hide_chrome %}
      <header>
        {% include template/top-nav.html %}
      </header>
      {% endunless %}

      <main id="maincontent" ...>
        {{ content }}
      </main>

      {% unless page.hide_chrome %}
        {% include template/footer.html %}
        {% include template/foot.html %}
      {% endunless %}

  </body>

</html>